
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Raleway", sans-serif;
}
@media (max-width: 768px) {
    body {
        display: flexbox;
        flex-direction: column; 
        font-size: 14px; /* Tamanho menor para telas pequenas */
    }
}
body {
    background-color: black;
    display: flexbox;
    flex-wrap: wrap; 
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    text-align: center;

}
header {
    display: flexbox;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-image: linear-gradient(#040404, #102735), url("/assets/images/banner.png");
    background-size: cover;
    background-blend-mode: overlay;
    border-bottom: solid 2px #33A8DB;
   }
header h1 {
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;    
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 2.935rem;
}
header p {
    color: #FFFFFF;
    font-size: 20PX;
    font-weight: 400;
    line-height: 1.468rem;
    height: 2.875rem;
    width: 34.375rem;
    margin-left: 470px;
}
header button {
    background-color: transparent;
    font-size: 16PX;
    font-weight: 900;
    padding: 1.188em 5.688em 1.188em 5.688em;
    margin-bottom: 3.625em;
    margin-top: 1.563em;

    color: #31A8DD;
    border: 2px solid #31A8DD;
    cursor: pointer; 
    transition: background-color 0.3s ease;
}
header button:hover {
    background-color: #31A8DD;   
    color: #FFFFFF;
}

.logo{
    margin-top: 3.5em;
    margin-bottom: 2.938em;
}
img {
    max-width: 100%; /* A imagem nunca será maior que o contêiner */
    height: auto; /* Mantém a proporção da imagem */
}
main {
    text-align: center;
    display: flexbox;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.625rem;
}

section#course-content {
    border-bottom: solid 2px #33A8DB;
    display: flexbox;
    flex-wrap: wrap; 
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    text-align: center;
}
section#course-content h2 {
    color: #33A8DB;
    font-weight: bold;
    font-size: 2.188rem;
    font-weight: 700;
    letter-spacing: 0.19em;
    margin-top: 9.375rem;
}
section#course-content p {
    font-size: 16px;
    font-weight: 400;
    color: aliceblue;
    margin-left: 21.875em;
    width: 49.5em;
    margin-bottom: 3.125em;
}
div.modules-list{
    margin-bottom: 130px;
}
.module {
    padding: 1em 7.938em 1em 7.938em;
    border-radius: 57px;
    background: #252525;
    border: 1px solid #33A8DB;
    margin: 0px 0px 3.188em 27%;
    width: 30%;
    height: 2.188rem;
    color: aliceblue;
    font-size: 17px;
    box-shadow: -2px 6px 4px 0px #00000066 inset;

}
div span {
    color: #33A8DB;
    font-weight: 400;
    line-height: 18.78px;
}
br {
    margin-bottom: 50px;
}
section#transform-world{
    background-image: url("/assets/images/woman-code.svg");
    border-bottom: solid 2px #33A8DB;
    background-repeat: no-repeat;
    background-size: cover; 
}
section#transform-world p {
    color: aliceblue;
    font-weight: bold;
    font-size: 47px;
    width: 23%;
    text-align: left;
    margin-left: 7%;
    padding: 1.688em;
    text-shadow:#2271c5 4px 1px
}

section#professional-challenges{
    border-bottom: solid 2px #33A8DB;
}

section#professional-challenges h2{
    color: #33A8DB;
    margin: 1.625em 0px 1.063em 5.875rem;
    font-weight: bold;
    font-size: 52px;
    font-weight: 700;
    line-height: 4.348rem;
    letter-spacing: 0.19em;
    width: 90%;
}
section#professional-challenges p{
    color: #FFFFFF;
    margin: 3.125em 6.25em 8.125em 21.875em;
    width: 55%;
}
footer{
    display: block;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.625rem;
    background-image: linear-gradient(#040404, #102735);
    text-align: center;
}
footer p {
    color: #FFFFFF;
    height: 9.375em;
}
footer img{
    margin-top: 150px;
}
p a {
    color: #33A8DB;
    text-decoration:none;
    font-weight: bold;
    transition: color 0.3s ease;
}
p a:hover {
    color: aliceblue;
    text-decoration: none; /* Adiciona um sublinhado quando estiver em hover */
}
header, section, footer {
    width: 100%; /* Garante que ocupem 100% da largura */
    padding: 20px; /* Opcional: Adiciona um preenchimento interno */
    box-sizing: border-box; /* Garante que o padding seja incluído no cálculo da largura */
}